// /* Formatting
// ------------------------*/
// .wrapper {
//     margin: 0 auto;
//     max-width: 1200px;
//     padding-top: 15px;
// }

// h1.text-center {
//     font: normal 600 35px / 1 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
//     margin-bottom: 50px;
//     text-align: center;
//     text-transform: uppercase;
// }

// .wrapper div[class^="link-style"] {
//     display: inline-block;
//     margin-bottom: 25px;
//     text-align: center;
//     width: calc(25% - 5px);
// }

// /* BASIC RESPONSIVE FRAMEWORK */
// @media screen and (max-width: 990px) {
//     .wrapper div[class^="link-style"] {
//             width: calc(33% - 5px);
//     }
// }
// @media screen and (max-width: 767px) {
//     .wrapper div[class^="link-style"] {
//             width: calc(50% - 5px);
//     }
// }
// @media screen and (max-width: 480px) {
//     .wrapper div[class^="link-style"] {
//             width: 100%;
//     }
// }
// /* END BASIC RESPONSIVE FRAMEWORK */

/* LINK STYLE 1
------------------------*/
.link-style-1 a {
background: linear-gradient(to left, rgba(255,255,255,0) 50%, #57bd30 50%) 100% 98% / 220% 2px no-repeat;
color: #333;
cursor: pointer !important;
    font: italic 500 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
text-decoration: none !important;
transition: all .25s ease-in-out; }

.link-style-1 a:hover, .link-style-1 a:focus {
background-position: 0 98%;
color: #000;
outline: none;
transition: all .25s ease-in-out; }

/* LINK STYLE 2
------------------------*/
.link-style-2 a {
background: linear-gradient(to bottom, #ff5555 0, #ff5555 100%) 0 calc(100% + 2px) / 2px 2px repeat-x;
color: #111;
cursor: pointer !important;
font: normal 600 20px / 1.35 "Kanit", "Muli", Helvetica, Arial, Verdana, sans-serif;
text-decoration: none !important;

-webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }

.link-style-2 a:hover, .link-style-2 a:focus {
background-position: 0 97%;

-webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

/* LINK STYLE 3
------------------------*/
.link-style-3 a {
    background: linear-gradient(to bottom, #ff5555 0, #ff5555 100%) 0 1.3em / 2px 2px repeat-x;
color: #111;
font: normal 600 20px / 1.35 "Kanit", "Muli", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 2px 3px;
text-decoration: none !important;

-webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }

.link-style-3 a:hover, .link-style-3 a:focus {
background-image: linear-gradient(to bottom, #ea1f36 0, #ea1f36 100%);
background-position: 0 100%; 
background-size: 2px 100%;
color: #fff; 

-webkit-transition: all .35s ease-in-out !important;
        transition: all .35s ease-in-out !important; }

/* LINK STYLE 4
------------------------*/
.link-style-4 a {
background: linear-gradient(to bottom, #99e8ef 50%, #99e8ef 50%) 0 .65em / 5px .5em repeat-x;
color: #111;
    font: italic normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    padding: 1px 8px 2px 4px;
text-decoration: none !important;
transition: all .25s ease-in-out; }

.link-style-4 a:hover, .link-style-4 a:focus {
background-position: 0 100%;
    background-size: 5px 100%;
color: #000;
outline: none;
transition: all .25s ease-in-out; }

/* LINK STYLE 5
------------------------*/
.link-style-5 a {
    background: linear-gradient(to bottom, #ff5555, #ff5555) 50% calc(100% - 2px) / 25px 2px no-repeat;
color: #111;
font: normal 600 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 5px 3px;
text-decoration: none !important;

-webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }

.link-style-5 a:hover, .link-style-5 a:focus {
background-size: 100% 2px;

-webkit-transition: all .35s ease-in-out !important;
        transition: all .35s ease-in-out !important; }

/* LINK STYLE 6
------------------------*/
.link-style-6 a {
    background: linear-gradient(to bottom, #ff5555, #ff5555) 50% calc(100% - 2px) / 0 2px no-repeat;
color: #e50b0b;
font: normal 500 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 3px 3px;
text-decoration: none !important;

-webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }

.link-style-6 a:hover, .link-style-6 a:focus {
background-size: 100% 2px;

-webkit-transition: all .35s ease-in-out !important;
        transition: all .35s ease-in-out !important; }

/* LINK STYLE 7
------------------------*/
.link-style-7 a {
background: linear-gradient(to left, rgba(255,255,255,0) 50%, #e50b0b 50%) 100% 98% / 220% 2px no-repeat, linear-gradient(to right, rgba(255,255,255,0) 50%, #e50b0b 50%) 0% 0% / 220% 2px no-repeat;
color: #e50b0b;
cursor: pointer !important;
    font: normal 500 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    padding: 5px 2px;
text-decoration: none !important;
transition: all .35s ease-in-out; }

.link-style-7 a:hover, .link-style-7 a:focus {
background-position: 0 98%, 100% 0;
color: #000;
outline: none;
transition: all .35s ease-in-out; }

/* LINK STYLE 8
------------------------*/
.link-style-8 a {
    background: linear-gradient(to bottom, #cdcdcd, #cdcdcd) 50% calc(100% - 2px) / 50% 2px no-repeat;
color: #333;
font: italic normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 5px 3px;
text-decoration: none !important;

-webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }

.link-style-8 a:hover, .link-style-8 a:focus {
    background-image: linear-gradient(to bottom, #777, #777);
    background-size: 100% 3px;
    color: #111; 

-webkit-transition: all .35s ease-in-out !important;
        transition: all .35s ease-in-out !important; }

/* LINK STYLE 9
------------------------*/
.link-style-9 a {
background: linear-gradient(to right, rgba(255,255,255,0) 50%, #fff 50%) 100% 50% / 220% 100% no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 100% / 100% 2px no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 0% / 100% 2px no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 0 0 / 2px 100% no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 0 / 2px 100% no-repeat;
color: #008cd8;
cursor: pointer !important;
    font: normal normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    padding: 5px 8px;
text-decoration: none !important;
transition: all .5s ease-in-out; }

.link-style-9 a:hover, .link-style-9 a:focus {
background-position: 0 50%, 100% 100%, 100% 0, 0 0, 100% 0;
color: #000;
outline: none;
transition: all .5s ease-in-out; }

/* LINK STYLE 10
------------------------*/
.link-style-10 a {
background: linear-gradient(to left, rgba(255,255,255,0) 50%, #fff875 50%) 100% 98% / 220% 100% no-repeat;
color: #333;
cursor: pointer !important;
    font: italic 500 20px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
    padding: 2px 5px;
text-decoration: none !important;
transition: all .35s ease-in-out; }

.link-style-10 a:hover, .link-style-10 a:focus {
background-position: 0 98%;
color: #000;
outline: none;
transition: all .5s ease-in-out; }

/* LINK STYLE 11
------------------------*/
/* NOTE: BECAUSE THIS LINK IS INLINE-BLOCK IT HAS SOME USAGE LIMITATIONS - KEEP THIS IN MIND */
.link-style-11 a {
    background: linear-gradient(to bottom, #ff5555 0, #ff5555 100%) 0 1.3em / 2px 2px repeat-x;
color: #ff5555;
    display: inline-block;
font: normal 700 26px / 1.35 "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 2px 3px;
    position: relative;
text-decoration: none !important;
    text-transform: uppercase;

-webkit-transition: all .35s cubic-bezier(0.735, 0, 0.495, 1);
        transition: all .35s cubic-bezier(0.735, 0, 0.495, 1); }

.link-style-11 a:hover, .link-style-11 a:focus {
background-position: 0 100%; 
background-size: 2px 100%;
color: #fff; 

-webkit-transition: all .35s cubic-bezier(0.735, 0, 0.495, 1) !important;
        transition: all .35s cubic-bezier(0.735, 0, 0.495, 1) !important; }

.link-style-11 a::after {
    background: linear-gradient(to bottom, #ff5555 0, #ff5555 100%) 0 0 / 2px 2px repeat-x;
    color: #ff5555;
    content: attr(href);
    display: block;
    font: normal 400 10px / 0 "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    opacity: 0;
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    height: 10px;
    text-transform: none;
}

.link-style-11 a:hover::after, .link-style-11 a:focus::after {
    background-size: 2px 100%;
    color: #fff;
    opacity: 1;
    transition: background-size .15s linear .5s, color .2s linear .95s, opacity 0s linear .55s;
}

/* LINK STYLE 12
------------------------*/
.link-style-12 a {
    background: linear-gradient(#008cd8, #008cd8) 50% calc(100% - 2px) / 93% 2px no-repeat;
color: #008cd8;
font: normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    margin: -1px;
margin-bottom: -2px !important;
padding: 1px 5px 5px 3px;
text-decoration: none !important;

-webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

.link-style-12 a:hover, .link-style-12 a:focus {
    background: linear-gradient(#005bcc, #005bcc) 50% 100% / 97% 4px no-repeat;
    color: #005bcc; }

/* LINK STYLE 13
------------------------*/
.link-style-13 a {
color: #10bc5e;
    display: inline-block;
font: normal 700 26px / 1.35 "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 1pt;
text-decoration: none !important;
    text-transform: uppercase;

    -webkit-transform: scale(.95);
            -ms-transform: scale(.95);
                    transform: scale(.95);

-webkit-transition: all .25s linear;
        transition: all .25s linear; }

.link-style-13 a:hover, .link-style-13 a:focus {
    color: #00cc4e;

    -webkit-transform: scale(1);
            -ms-transform: scale(1);
                    transform: scale(1); }

/* LINK STYLE 14
------------------------*/
.link-style-14 a {
background: linear-gradient(to left, rgba(255,255,255,0) 50%, #e50b0b 50%) 100% 98% / 220% 2px no-repeat, linear-gradient(to right, rgba(255,255,255,0) 50%, #e50b0b 50%) 0% 98% / 220% 2px no-repeat;
color: #e50b0b;
cursor: pointer !important;
    font: italic 500 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    padding: 5px 2px;
text-decoration: none !important;
transition: all .5s ease-in-out; }

.link-style-14 a:hover, .link-style-14 a:focus {
background-position: 0 98%, 100% 98%;
outline: none; }